
<h1 class="cover-heading">Shorten your URLs.</h1>

<p class="lead">

	<%= form_for :link, url: links_path, :html => { :class => "form-inline", :role => "form"} do |f| %>

		<% if @link.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@link.errors.count, "error") %>.</h2>
			<ul>
			<% @link.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group">
			<%= f.text_field :original_url, :placeholder => "Enter a url to shorten it", class: "form-control input-mysize" %>
		</div>

		<div class="form-actions" style="margin-top: 20px;">
			<%= f.submit "Shortify!", class: "btn btn-lg btn-info" %>
		</div>

	<% end %>	
</p>



