<!DOCTYPE html>
<html>
<head>
  <title>Rshortener</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class="site-wrapper">

	  <div class="site-wrapper-inner">

	    <div class="cover-container">

	      <div class="masthead clearfix">
	        <div class="inner" style="margin-top: 20px;">
	          <h3 class="masthead-brand"><a href="/" class="logo">Reshortener</a></h3>
	          <ul class="nav masthead-nav">
                <li class="active"><%= link_to 'Visitor Information', controller: :visitors %></li>
              </ul>
	        </div>
	      </div>

	      <div class="inner cover">
	      	<%= yield %>

	      	
			<% flash.each do |name, msg| -%>
				  <%= content_tag :div, msg, class: "alert alert-success" %>
			<% end -%>
	      </div>


	    </div>

	  </div>

	</div>


<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>


</body>
</html>
